name: "ZXC: Code Compiles"
on:
  workflow_call:
    inputs:
      go-version:
        description: "Go Version:"
        type: string
        required: false
        default: ">=1.24.3"
      custom-job-label:
        description: "Custom Job Label:"
        type: string
        required: false
        default: "Code Compiles"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  code-compiles:
    name: ${{ inputs.custom-job-label || 'Code Compiles' }}
    runs-on: solo-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup GoLang
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ inputs.go-version }}

      - name: Compile Code
        run: task build

      - name: Code Style
        run: task lint:check
